
.RDP_title {
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
}

#RDP_thumbDesc {
    text-align: center;
    word-wrap: break-word;
    padding-top: 15px;
}

.RDP_wordBreak {
    word-wrap: break-word;
    text-align: center;
}

.RDP_container {
    width: 90%;
    margin: auto;
}

#RDP_mainDiv {
    width: 100%;
    height: 100%;
    padding-top: 22px;
}

.overflow{
    overflow: auto;
}

.RDP_thumb {
    max-width: 100%;
    margin: 0;
}

.RDP_titlediv {
    max-width: 100%;
}

.RDP_iframeSize {
    width: 100%;
    height: 46vh;
}

.RDP_flexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
}

.RDP_item {
    max-width: 45%;
}

.RDP_bold {
    font-weight: bolder;
}