/* GLOBAL */

.row {
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* API IMAGE SECTION */


.EGA_apiImg {
    transition: transform .2s;
    transition: 0.2s;
    margin: 30px -40px;
}
.EGA_apiImg:hover {
    transform: scale(1.05);
    filter : drop-shadow(0 5px 5px rgba(0, 0, 0, 0.438));
}

.EGA_apiImg:active {
    transform: scale(.9);
    filter : drop-shadow(0 5px 5px rgba(255, 255, 255, 0.438));
}

.EGA_activeToggle {
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 20px #D9CFE7,   /* inner left magenta short */
        inset -20px 0 20px #0ff,  /* inner right cyan short */
        inset 20px 0 60px #D9CFE7,  /* inner left magenta broad */
        inset -20px 0 60px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 40px #D9CFE7,        /* outer left magenta */
        10px 0 40px #0ff;         /* outer right cyan */
}

.EGA_apiRow {
    background: #A8BCBA;
    width: 100%;
    padding-top: 40px;
    
}
/* END OF API IMAGE SECTION */

/* SEARCH BAR SECTION */

.EGA_searchRow {
    display: flex;
    background: #A8BCBA;
    width: 100%;
    height: 250px;
}

.btn-outline-success {
    color: white;
    border-color: white;
}

.EGA_navbar {
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.EGA_searchbarDiv {
    display: flex;
}
.EGA_searchBar {
    width: 100%;
    display: block;
    margin-right: 40px;
}

.EGA_searchBtn {
    margin-top: 20px !important;
    float:right;
    
}
/* END OF SEARCH BAR SECTION */

/* RADIO BUTTONS SECTION */

.EGA_radioButtons {
    padding: 40px;
}    

.EGA_radioButton {
    display: inline-block;
    float: left;
}

.EGA_radioButton:active {
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 20px #D9CFE7,   /* inner left magenta short */
        inset -20px 0 20px #0ff,  /* inner right cyan short */
        inset 20px 0 60px #D9CFE7,  /* inner left magenta broad */
        inset -20px 0 60px #0ff, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 40px #D9CFE7,        /* outer left magenta */
        10px 0 40px #0ff;         /* outer right cyan */
}

.input-group-text{
    background-color: transparent;
}

input[type=checkbox] {
    transform: scale(1.5);
  }

.EGA_radioBoxText {
    margin-left: 20px;
    font-size: 1.5em;
    color: #50697D;
}

.EGA_radioColumn {
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
}

.EGA_radioBoxes {

    margin-top: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 40px;
}


.radio-inline {
    padding: 15px;
}

.btn-secondary {
    background-color: #50697D;
    border-color: #50697D
}

/* END OF RADIO BUTTONS SECTION */

/* DISPLAY AREA COLUMNS */

.EGA_logoDiv {
    text-align: center;
}

.EGA_gitHubColumns {
    background: #ACC66D;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    padding-top: 20px;
    
}

.EGA_youTubeColumns {
    background: #50697D;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    color: white;
    padding: 0px;
    display: hidden;
}

.EGA_stackOverFlowColumns {
    background: #D9CFE7;
    width: 100%;
    min-height: 400px;
    justify-content: center;
    padding-top: 20px;
}

/* DISPLAY AREA COLUMNS */

/* DYNAMIC LOGOS */

#EGA_youtubeLogo {
    max-height: 75px;
    margin-top: 10px;
    padding-top: 10px;
   
}

#EGA_stackoverflowLogo  {
    
    max-height: 50px;
    margin-top: 10px;
        
}

#EGA_githubLogo  {
    
    max-height: 35px;
    margin-top: 10px; 
     
}

#EGA_spotifyLogo  {
    
    max-height: 50px;
    margin-top: 10px; 

}

#EGA_amazonLogo {

    max-height: 75px;
    margin-top: 10px;
     
}

/* END OF DYNAMIC LOGOS */

/* FOOTER */

#EGA_footer {
    background-color: #50697D;
    margin-top: 10px;  
    color: white;
    text-align: center;
}

/* END OF FOOTER SECTION */



/* -------------------
DISPLAY AREA 
------------------- */



/* STACK EXCHANGE API */

.EGA_container {
    width: 300px;
    padding-top: 30px;
    min-width: 0;
}

.EGA_cardBody {
    /* display: flex; */
    justify-content: stretch;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
    margin: 10px;
}

.EGA_cardTitle {
    font-size: 1em;
    line-height: 1.6em;
    padding: 0px 10px 20px 0px;
    text-align: left;
    color: black;
}

.jrsCard {
    background-color: transparent;
    border: none;
}

.jrsStat {
    max-width: 60px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 137, 41);
    box-shadow: 4px 3px 13px 0px rgb(172, 169, 169);
    color: white;
    font-weight: 400;
}

.jrsButton {
    background-color:#50697D;
    border: none;
    border: 1px solid white;
    box-shadow: 4px 3px 13px 0px rgb(172, 169, 169);
}
.jrsButton:hover {
    text-decoration: none;
    background-color: rgb(138, 180, 214);
}
.EGA_viewBox {
    align-self: stretch;
    margin-top: 15px !important;
    margin-bottom: 0 !important;
    
}

.jrsImg {
    height: 58px;
    width: 58px;
    
    box-shadow: 4px 3px 13px 0px rgb(172, 169, 169);
}

.jrsStatsSection {
    float: left;
    display: flex;
    flex-direction: column;
}

.jrsTitleSection {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    align-items: center;
}

/* END OF STACK EXCHANGE API */

/* FAVORITE ICON STYLING */

.fa-star {
    color: rgb(255, 230, 88);
}

.favorite {
    background-color: rgba(9, 31, 37, 0.863);
    color: white;
    border: none;
    text-align: right;
}
.favorite:hover {
    background-color: rgba(37, 75, 85, 0.863);
    color: white;
    border: none;
}
.favorite:active {
    background-color: rgb(52, 201, 33);
    color: 50697D;
    border: none;
}
.jrsRow {
    justify-content: center;
}
.jrsRow > .favorite { /*EGA - Added this row to space the vaforite button specific to the stack column */
    margin: 20px;
}

.favorited {
    background-color: #87c488;
    text-align: right;
}

.jrsRow > .favorited { /*EGA - Added this row to space the vaforite button specific to the stack column */
    margin: 20px;
}

/* END OF FAVORITE ICON STYLING */

/* MEDIA QUERIES */


@media screen and (max-width:986px) {

    .EGA_apiImg {
        width: 120px;
    }
    .EGA_searchbarDiv {
        padding-left: 40px;
        padding-right: 0px;
    }
    .EGA_radioBoxes {
        margin-left: 50px;
    }
    .btn-secondary {
        font-size: .8em;
    }
  }
  
  @media only screen  and (max-width : 1224px) {
    #EGA_stackoverflowSubmenu > div.jrsCardBody {
        flex-direction: column-reverse;
        display: contents;
    }
    #EGA_stackoverflowSubmenu > div.jrsCardBody > div.jrsStatsSection {
        justify-self: center;
        padding-top: 20px;
    }
    #EGA_stackoverflowSubmenu > div.jrsCardBody > div.jrsTitleSection {
        padding: 10px;
        border-bottom: 1px solid #50697D;
    }
    #EGA_stackoverflowSubmenu > div.jrsCardBody > div.jrsTitleSection > h5.EGA_cardTitle {
        padding-top: 10px;
        text-align: center;
    }
    #EGA_stackoverflowSubmenu > div.jrsCardBody > div.jrsTitleSection > div > a.jrsButton  {
        margin-bottom: 10px;
    }
}
  @media screen and (max-width:767px){

    .EGA_apiImg {
        width: 110px;
    }
    .EGA_searchbarDiv {
        padding-left: 40px;
        padding-right: 0px;
    }
    .EGA_radioBoxes {
        margin-left: 50px;
    }
    .btn-secondary {
        font-size: .8em;
    }

    #EGA_stackoverflowSubmenu > div.jrsCardBody {
        display: flex;  
        flex-direction: unset;
        justify-content: space-around;

    }
    #EGA_stackoverflowSubmenu > div.jrsCardBody > div.jrsTitleSection {
        border: none;
    }
  }
  @media screen and (max-width:715px){
    
    .EGA_apiImg {
        width: 100px;
    }
  }
  .EGA_radioBoxes {
    margin-left: 40px;
}
  @media screen and (max-width:640px){
      
    .EGA_apiRow {
          padding: 80px 10px 0px 10px;
          margin: auto; 
      }
      .EGA_radioBoxes {
        margin-left: 0;
    }
    .EGA_apiImg {
        width: 80px;
    }
    .btn-secondary {
        font-size: .8em;
    }
  }
  @media screen and (max-width:577px){
    .btn-secondary {
        font-size: .6em;
    }
  }

  /* END OF MEDIA QUERIES */