.hexagon {
    width: 48px;
    height: 25px;
    background: red;
    position: relative;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 15px solid red;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 15px solid red;
}

.jrsStatText {
    font-size: 12px;
    color: white;
    z-index: 100;
    position: relative;
    bottom: 5px;
}

.jrsStackButton {
    position: absolute;
    top: 130px;
    left: 20px;
    background-color: #50697D;
    border-color: #50697D;
}

.jrsStackLogo {
    width: 58px;
}

.card-body {
    padding: 0.8rem;
}
