.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.jrsNewStackDiv {
    height: 200px;
}

.jrsNewQuestion {
    height: 40%;
}

.jrsNewStats {
    height: auto;
}

.card-body {
    padding: 1rem;
}

.circles {
    width: 100px;
    height: 100px;
}